#choice, #result, #game-area {
    display: none;
}

#toss,#choice {
    width: 50%;
    background-color:#f2f2f2;
    margin: auto;
    padding: 50px;
}

#game-area {
    width: 50%;
    background-color:#f2f2f2;
    margin: auto;
    padding: 50px;
    flex-direction: column;
}

button {
    background-color:greenyellow;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
}
h1,h2,h3 {
    text-align: center;
}